version: "3.8"

networks:
  my_network:
    driver: bridge

services:
  mysql-m:
    image: mysql:8
    container_name: mysql-m
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: testdb
      MYSQL_USER: user
      MYSQL_PASSWORD: password
      REPL_USER: "replicator"
      REPL_PASSWORD: "replica_password"
    ports:
      - "3306:3306"
    volumes:
      - mysql_master_data5:/var/lib/mysql
      - mysql_master_log5:/var/log/mysql
      - ./mysql/master.cnf:/etc/mysql/conf.d/mysql.cnf
      - ./mysql/init-master.sh:/docker-entrypoint-initdb.d/init.sh
    networks:
      - my_network
    command: ["mysqld", "--mysql-native-password=ON"]

  mysql-s1:
    image: mysql:8
    container_name: mysql-s1
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: testdb
      MYSQL_USER: user
      MYSQL_PASSWORD: password
      REPL_USER: "replicator"
      REPL_PASSWORD: "replica_password"
      MASTER_HOST: "mysql-m"
    ports:
      - "3307:3306"
    volumes:
      - mysql_slave1_data:/var/lib/mysql
      - mysql_slave1_log:/var/log/mysql
      - ./mysql/slave1.cnf:/etc/mysql/conf.d/mysql.cnf
      - ./mysql/init-slave.sh:/docker-entrypoint-initdb.d/init.sh
    networks:
      - my_network
    depends_on:
      - mysql-m

  mysql-s2:
    image: mysql:8
    container_name: mysql-s2
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: testdb
      MYSQL_USER: user
      MYSQL_PASSWORD: password
      REPL_USER: "replicator"
      REPL_PASSWORD: "replica_password"
      MASTER_HOST: "mysql-m"
    ports:
      - "3308:3306"
    volumes:
      - mysql_slave2_data:/var/lib/mysql
      - mysql_slave2_log:/var/log/mysql
      - ./mysql/slave2.cnf:/etc/mysql/conf.d/mysql.cnf
      - ./mysql/init-slave.sh:/docker-entrypoint-initdb.d/init.sh
    networks:
      - my_network
    depends_on:
      - mysql-m

  app:
    build: ./app
    container_name: app
    restart: unless-stopped
    environment:
      DB_HOST: "mysql-m"
      DB_USER: "user"
      DB_PASSWORD: "password"
      DB_NAME: "testdb"
      DB_PORT: "3306"
    volumes:
      - ./app:/app
    networks:
      - my_network
    depends_on:
      - mysql-m
      #- mysql-s1
      #- mysql-s2

  adminer:
    image: adminer
    container_name: adminer
    restart: no
    ports:
      - "8080:8080"
    networks:
      - my_network
    depends_on:
      - mysql-m
      - mysql-s1
      - mysql-s2

volumes:
  mysql_master_data5:
  mysql_master_log5:
  mysql_slave1_data:
  mysql_slave1_log:
  mysql_slave2_data:
  mysql_slave2_log:
